In [2]:
import os
import pandas as pd
import numpy as np

In [19]:
data = pd.read_excel("../data/handled/data_for_tableau.xlsx")

In [17]:
data = data.iloc[:,2:]

In [35]:
os.getcwd()

'C:\\Users\\Admin\\smart_crosswalk\\analysis'

In [20]:
data.columns

Index(['Unnamed: 0', 'index', '번호', '현장명', '방향', '일시', '신호횟수', '운영시간', '녹색시간',
       '통과보행자', '보행시간', '보행자분류_일반', '보행자분류_적색횡단', '보행자분류_무단횡단', '연장_횟수',
       '연장_시간', '연장_보행자', '교통약자_목발', '교통약자_휠체어', '교통약자_유모차', '교통약자_합계', '잔여',
       '보도길이', '보행속도'],
      dtype='object')

In [32]:
basic_statistics = data[['통과보행자', '보행시간', '보행자분류_일반', '보행자분류_적색횡단',
       '보행자분류_무단횡단', '연장_횟수', '연장_시간', '연장_보행자', '교통약자_목발', '교통약자_휠체어',
       '교통약자_유모차', '교통약자_합계', '잔여','보행속도']].describe()

In [34]:
basic_statistics.to_csv("basic_statistics.csv", encoding = 'cp949')

In [38]:
def get_df(new_df):
    new_df.columns = ['번호', '현장명', '방향', '일시', '신호횟수', '운영시간', '녹색시간',
       '통과 보행자', '보행시간', '보행자분류_일반', '보행자분류_적색횡단',
       '보행자분류_무단횡단', '연장_횟수','연장_시간','연장_보행자', '교통약자_목발',
       '교통약자_휠체어', '교통약자_유모차', '교통약자_합계', '잔여']
    new_df = new_df.loc[new_df['일시'] !='소계']
    new_df = new_df.loc[1:]
    new_df.reset_index(inplace = True)
    new_df = new_df.drop('index', axis = 1)
    new_df['현장명'] = new_df.현장명.fillna(method = 'ffill')
    return new_df

In [39]:
df = pd.DataFrame()

for month in range(7,10):
    file_path = f"../data/RawData/2022-0{month}.xlsx"
    df = pd.concat([df, get_df(pd.read_excel(file_path))])
    
df

,번호,현장명,방향,일시,신호횟수,운영시간,녹색시간,통과 보행자,보행시간,보행자분류_일반,보행자분류_적색횡단,보행자분류_무단횡단,연장_횟수,연장_시간,연장_보행자,교통약자_목발,교통약자_휠체어,교통약자_유모차,교통약자_합계,잔여
0,1.0,자운학교앞(5),동,2022-07-01 00:00:00,24.0,3599.0,962.0,3.0,29.000000,1,2,0,1,1,0,0,0,0,0,0.0
1,2.0,자운학교앞(5),NaN,2022-07-01 01:00:00,24.0,3600.0,960.0,3.0,17.000000,2,1,0,0,0,0,0,0,0,0,0.0
2,3.0,자운학교앞(5),NaN,2022-07-01 02:00:00,24.0,3599.0,958.0,0.0,0.000000,0,0,0,0,0,0,0,0,0,0,0.0
3,4.0,자운학교앞(5),NaN,2022-07-01 03:00:00,24.0,3603.0,957.0,0.0,0.000000,0,0,0,0,0,0,0,0,0,0,0.0
4,5.0,자운학교앞(5),NaN,2022-07-01 04:00:00,24.0,3600.0,960.0,1.0,32.000000,0,1,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,2872.0,파주병원(4),NaN,2022-09-30 19:00:00,29.0,3481.0,824.0,17.0,20.000000,16,0,0,1,5,1,0,1,0,1,0.0
2872,2873.0,파주병원(4),NaN,2022-09-30 20:00:00,30.0,3600.0,843.0,17.0,21.500000,17,0,0,0,0,0,0,0,1,1,0.0
2873,2874.0,파주병원(4),NaN,2022-09-30 21:00:00,30.0,3600.0,848.0,14.0,16.250000,10,1,0,2,6,2,2,1,0,3,0.0
2874,2875.0,파주병원(4),NaN,2022-09-30 22:00:00,30.0,3599.0,853.0,13.0,21.142857,10,0,0,2,12,2,0,1,0,1,0.0
2875,2876.0,파주병원(4),NaN,2022-09-30 23:00:00,31.0,3720.0,860.0,5.0,24.500000,1,4,0,0,0,0,0,0,0,0,0.0

In [40]:
recent_data = df #최근 3달치 데이터

In [41]:
recent_data.to_csv("../data/handled/7~9월.csv",encoding = 'cp949')

In [44]:
recent_data.describe()

,번호,신호횟수,운영시간,녹색시간,통과 보행자,보행시간,잔여
count,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000,8782.000000
mean,1464.441927,28.179458,3591.197563,989.676270,23.969141,17.768962,1.407880
std,845.572271,3.267262,131.466857,124.008848,26.913547,8.453695,4.807761
min,1.000000,1.000000,95.000000,40.000000,0.000000,0.000000,0.000000
25%,732.250000,24.000000,3599.000000,860.000000,4.000000,14.625000,0.000000
50%,1464.000000,30.000000,3600.000000,1027.500000,16.000000,18.750000,0.000000
75%,2196.000000,30.000000,3601.000000,1063.000000,35.000000,23.329545,0.000000
max,2974.000000,35.000000,4200.000000,1393.000000,285.000000,58.000000,52.000000

In [48]:
recent_data[['통과 보행자', '보행시간',
       '보행자분류_일반', '보행자분류_적색횡단', '보행자분류_무단횡단', '연장_횟수', '연장_시간', '연장_보행자',
       '교통약자_목발', '교통약자_휠체어', '교통약자_유모차', '교통약자_합계', '잔여']] = recent_data[['통과 보행자', '보행시간',
       '보행자분류_일반', '보행자분류_적색횡단', '보행자분류_무단횡단', '연장_횟수', '연장_시간', '연장_보행자',
       '교통약자_목발', '교통약자_휠체어', '교통약자_유모차', '교통약자_합계', '잔여']].astype("int")

In [49]:
recent_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8782 entries, 0 to 2875
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   번호          8782 non-null   float64
 1   현장명         8782 non-null   object
 2   방향          3 non-null      object
 3   일시          8782 non-null   object
 4   신호횟수        8782 non-null   float64
 5   운영시간        8782 non-null   float64
 6   녹색시간        8782 non-null   float64
 7   통과 보행자      8782 non-null   int32
 8   보행시간        8782 non-null   int32
 9   보행자분류_일반    8782 non-null   int32
 10  보행자분류_적색횡단  8782 non-null   int32
 11  보행자분류_무단횡단  8782 non-null   int32
 12  연장_횟수       8782 non-null   int32
 13  연장_시간       8782 non-null   int32
 14  연장_보행자      8782 non-null   int32
 15  교통약자_목발     8782 non-null   int32
 16  교통약자_휠체어    8782 non-null   int32
 17  교통약자_유모차    8782 non-null   int32
 18  교통약자_합계     8782 non-null   int32
 19  잔여          8782 non-null   int32
dtypes: float64(4), int32(13), object(3)
memory usage: 994.8+ KB

In [53]:
recent_data[['통과 보행자', '보행시간',
       '보행자분류_일반', '보행자분류_적색횡단', '보행자분류_무단횡단', '연장_횟수', '연장_시간', '연장_보행자',
       '교통약자_목발', '교통약자_휠체어', '교통약자_유모차', '교통약자_합계', '잔여']].describe().to_csv("7to9_basic_statistics.csv",encoding='cp949')